{% extends "base.html" %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav class="level box">
        <div class="level-item has-text-centered">
            <a href="https://www.linkedin.com/in/collin-meyer-88593a206" class="subtitle">
                <i class="fa fa-linkedin-square" style="font-size:36px"></i>
            </a>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <a href="{{ url_for('main_bp.index') }}" class="title">Collin Meyer</a>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <a href="https://github.com/cmmeyer1800" class="subtitle">
                <i class="fa fa-github" style="font-size:36px"></i>
            </a>
        </div>
    </nav>
    <div class="columns box">
        <div class="column has-text-centered">
            <div class="subtitle is-size-5">
                About Me
            </div>
            <hr>
            <figure class="image is-1x1">
                <img src="/assets/headshot.jpg">
            </figure>
            <div class="section">
                <div class="content">
                    <p class="has-text-left">
                        My name is Collin Meyer. I am Computer Engineering student from the University of Illinois at Urbana-Champaign.
                        I am passionate about all forms of electronics, hardware and software alike.
                        After college I hope to persure a career doing impactful work with tangible results. Ever since I was a child I loved creating things,
                        I loved the idea of bringing something that didn't exist previously into a physical manifestation. I have persued this love through many avenues,
                        but most notably my schooling, personal projects, and involvement in Illini Motorsports
                    </p>
                </div>
            </div>
        </div>
        <div style="border-left: solid #eeeee4;">
        </div>
        <div class="column has-text-centered">
            <div class="subtitle is-size-5">
                Involvements and Projects
            </div>
            <hr>
        </div>
    </div>
{% endblock %}